.content {
  display: flex;
  height: auto;
  background: #000;
  width: 100%;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    height: auto;
  }

  .side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 5rem 3rem;

    width: 40%;

    background: $img-2;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      height: auto;
    }

    .info {
      width: 100%;
      color: white;

      margin-bottom: 3rem;

      &__heading {
        font-size: $font-big;
        margin-bottom: 3rem;
      }
      &__text {
        font-size: 1.8rem;
        width: 90%;
        line-height: 3rem;

        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    .side-content {
      width: 100%;
      height: 50%;

      padding: 5rem 4rem;



      &__intro {
        display: flex;

        margin-bottom: 3rem;
        font-size: $font-big;
      }

      &__text {
        width: 70%;
        font-size: 1.8rem;
        line-height: 3rem;
      }

      .btn {
        margin-top: 4rem;
      }

      &.starting {
        background: $img-3;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
      }
      &.dummy {
        color: white;

        background: $img-4;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
}
