.input {
  border-radius: 16px;
  background: transparent;
  padding-left: 2rem;

  color: white;

  border: 2px solid white;

  outline: none;

  -webkit-transition: border .15s;
  -moz-transition: border .15s;
  -ms-transition: border .15s;
  -o-transition: border .15s;
  transition: border .15s;
  &:active {
    border: 2px solid #86ffeb;
  }

  &::placeholder {
    color: white;
  }
  &--text {
    height: 6rem;
    width: 50%;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &--textarea {
    padding-top: 2rem;
  }
}